<p>create: {{i18n-t 'favoriteSongs.create' crazy='whoa'}}</p>
<p>testing with binding: {{i18n-t 'favoriteSongs.testing' crazy=howCrazy}}</p>
<p>destroy: {{i18n-t 'favoriteSongs.destroy'}}</p>
<p>no variable specified: {{i18n-t 'favoriteSongs.testing'}}</p>

<button {{action 'changeFavoritesAdjective'}}>Change Favorites Adjective</button>
<button {{action 'swapLocale'}}>Swap Locale</button>
